<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chillstudio.chillmusic">
   <application
        android:label="Chill Music"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name="com.ryanheise.audioservice.AudioServiceActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
          
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="com.google.firebase.messaging.default_notification_icon"
              android:resource="@drawable/launcher_icon"/>
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
          </activity>
          <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
          <service android:name="com.ryanheise.audioservice.AudioService">
            <intent-filter>
              <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
          </service>
          <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver" >
            <intent-filter>
              <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
          </receiver> 
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
</manifest>
